# *****************************************************************************************
# Profile for binMerge tools.
# Copyright 2018 Foxconn Inc.
# Creat By Gavin In 20181220.
# *****************************************************************************************


# *****************************************************************************************
# Profile Configure Table Format
# Immutable Label: Module Name, Key Name
# Changed Label: App Name, Key Value
# *****************************************************************************************
<AppName>                                 # case insensitive 
	[ModuleName]                          # support comment
		Enable = "1"                      # support switch, Must be in one location of the module
		KeyName = "Key Value"   		  # support blank line and whitespace
<PROFILE_END_TAG>                         # need this end tag


# *****************************************************************************************
# Charlie100 Foxconn Image configure table
# *****************************************************************************************
<Charlie100_FXC> # Charlie100_FXC_BOLT20 
	BinaryFileFloder = "/home/gavin/project/binMerge/CVA4002POC_vcm_FXC_settings-1105-sip-pc15_BFC18.1/"  
	[NOR]                                        	 # Base BOLT 2.0
		Enable = "0" 
		Endian =  "Little"                           # Little / Big
		FillCenterBLank = "0xFF"                     # 0xFF / 0x00
		Partition00.Addr = "0x00000000-0x00130000"   # flash0.bolt(1216KB)
		Partition00.File = "boot_v2.0/bolt-v2.00_B1-3390b0-xx-bfw-x.x.x.bin"             
		Partition01.Addr = "0x00130000-0x00140000"   # flash0.macadr(64KB)
		Partition01.File = ""
		Partition02.Addr = "0x00140000-0x00150000"   # flash0.nvram(64KB)
		Partition02.File = ""
		Partition03.Addr = "0x00150000-0x00160000"   # flash0.nvram1(64KB)
		Partition03.File = ""
		Partition04.Addr = "0x00160000-0x00180000"   # flash0.devtree0(128KB)
		Partition04.File = "rg.3390z0-vcm.dtb"
		Partition05.Addr = "0x00180000-0x001A0000"   # flash0.devtree1(128KB)
		Partition05.File = ""
		Partition06.Addr = "0x001A0000-0x00200000"   # flash0.cmnonvol0(384KB)
		Partition06.File = ""
		Partition07.Addr = "0x00200000-0x00260000"   # flash0.cmnonvol1(384KB)
		Partition07.File = ""
		Partition08.Addr = "0x00260000-0x00330000"   # flash0.rgnonvol0(832KB)
		Partition08.File = ""
		Partition09.Addr = "0x00330000-0x00400000"   # flash0.rgnonvol1(832KB)
		Partition09.File = ""       
		Partition.Number = "10"
	[NAND]											 # Base BOLT 2.0
		Enable = "1" 
		Endian =  "Big"                              # Little / Big
		FillCenterBLank = "0xFF"                     # 0xFF / 0x00
		Partition00.Addr = "0x00000000-0x00620000"   # flash1.kernel0(7MB)
		Partition00.File = "vmlinuz-3390b0-lattice-bridge"  # bin file name 
		Partition01.Addr = "0x00620000-0x00C40000"   # flash1.kernel1(7MB) 
		Partition01.File = ""
		Partition02.Addr = "0x00C40000-0x01FA0000"   # flash1.cm0(20MB)
		Partition02.File = "ubifs-128k-2048-3390b0-lattice-bridge-CM.img"
		Partition03.Addr = "0x01FA0000-0x03300000"   # flash1.cm1(20MB)
		Partition03.File = "customrCM/ubifs-128k-2048-3390b0-lattice-bridge-CM.img"
		Partition04.Addr = "0x03300000-0x05980000"   # flash1.rg0(39MB)
		Partition04.File = "ubifs-128k-2048-3390b0-lattice-bridge-RG.img" 
		Partition05.Addr = "0x05980000-0x08000000"   # flash1.rg1(39MB)
		Partition05.File = ""                 
		Partition.Number = "6"
	[NAND_BOOT] 									 # Base BOLT 4.0
		Enable = "0" 
		Endian =  "Big"                              # Little / Big
		FillCenterBLank = "0xFF"                     # 0xFF / 0x00
		Partition00.Addr = "0x00000000-0x00060000"   # flash0.fsbl  
		Partition00.File = "boot_v4.0/fsbl-pckg.bin"  
		Partition01.Addr = "0x00060000-0x00100000"   # flash0.ssbl0  
		Partition01.File = "boot_v4.0/ssbl-pckg.bin"
		Partition02.Addr = "0x00100000-0x001A0000"   # flash0.ssbl1  
		Partition02.File = "boot_v4.0/ssbl-pckg.bin"
		Partition03.Addr = "0x001A0000-0x001E0000"   # flash0.macadr  
		Partition03.File = ""
		Partition04.Addr = "0x001E0000-0x00220000"   # flash0.nvram  
		Partition04.File = "" 
		Partition05.Addr = "0x00220000-0x00260000"   # flash0.nvram1  
		Partition05.File = ""     
		Partition06.Addr = "0x00260000-0x002A0000"   # flash0.devtree0  
		Partition06.File = "rg.3390z0-vcm.dtb"  
		Partition07.Addr = "0x002A0000-0x002E0000"   # flash0.devtree1  
		Partition07.File = ""  
		Partition08.Addr = "0x002E0000-0x00620000"   # flash0.cmnonvol0  
		Partition08.File = ""  
		Partition09.Addr = "0x00620000-0x00960000"   # flash0.cmnonvol1  
		Partition09.File = ""  
		Partition10.Addr = "0x00960000-0x00CA0000"   # flash0.rgnonvol0  
		Partition10.File = ""  
		Partition11.Addr = "0x00CA0000-0x00FE0000"   # flash0.rgnonvol1  
		Partition11.File = ""  
		Partition12.Addr = "0x00FE0000-0x01600000"   # flash0.kernel0  
		Partition12.File = "vmlinuz-3390b0-lattice-bridge"  
		Partition13.Addr = "0x01600000-0x01C20000"   # flash0.kernel1  
		Partition13.File = ""  
		Partition14.Addr = "0x01C20000-0x02F80000"   # flash0.cm0  
		Partition14.File = "ubifs-128k-2048-3390b0-lattice-bridge-CM.img"  
		Partition15.Addr = "0x02F80000-0x042E0000"   # flash0.cm1  
		Partition15.File = "customrCM/ubifs-128k-2048-3390b0-lattice-bridge-CM.img"  
		Partition16.Addr = "0x042E0000-0x06160000"   # flash0.rg0  
		Partition16.File = "ubifs-128k-2048-3390b0-lattice-bridge-RG.img"  		
		Partition17.Addr = "0x06160000-0x07FE0000"   # flash0.rg1  
		Partition17.File = ""  
		Partition.Number = "18"
	[NAND_OOB]
		Enable = "0"
		Endian =  "Big"                              # Little / Big
		FileSystem = "UBIFS"                         # JFFS2
		ECC_Algorithm = "hming"
		NandFlash = ""                               # Block size, OOB size ...

		
# *****************************************************************************************
# CGA4233 Foxconn Image configure table
# *****************************************************************************************
	<CGA4233_FXC> 
	BinaryFileFloder = "CVA4002POC_vcm_FXC_settings-1105-sip-pc15_BFC18.1"                                                                      
	[NOR]
		Enable = "0" 

	[NAND]
		Enable = "0" 

	[NAND_BOOT]
		Enable = "1" 

	[NAND_OOB]
		Enable = "1"
		
<PROFILE_END_TAG> 